*{
	margin:0;
	padding:0;
}
.pageTitle{
	background-color:#3298cc;
	height:80px;
	margin:0px;
	padding-left:30px;
	padding-top:15px;
	color:white;
	font-family:Century Gothic;
	font-size:300%;
}
.margin{
	height:fit-content;
	background-color:#333232;
}
.logo{
	position:absolute;
	right:35px;
	margin-top:8px;
}
.logo img{
	width:100%;
	height:100%;
}
.navigation li{
	display:inline-block;
}
.navigationBar{
	margin-left:20px;
}
.navigationBar li a{
	padding:10px 15px;
	font-family:Century Gothic;
	font-weight:bolder;
	color:white;
	text-decoration:none;
}
.navigation ul.navigationBar{
	font-size:16px;
	padding:10px 0px;
}
.navigation ul li.active a{
	margin:0px;
	color:white;
	border-left:4px solid white;
	background-color: rgba(255,153,0,255);
}
.navigation ul li a:hover{
	margin:0px;
	color:white;
	background-color: rgba(255,153,0,255);
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
}
.container .address_book_information{
    width:33.33%;
    margin:20px 15px 15px 25px;
}
.container .address_book_form_field{
    width: 66.67%;
    margin:20px 150px 15px 25px;
    box-shadow:2px 0px 15px 7px rgba(151,150,150,255);
}
.address_book_information{
	padding: 0px 8px;
	width: 28%;
}

.address_book_information .contact_preview{
	border: 1px solid rgb(204, 204, 204);
	height: 88px;
}
.address_book_information .contact_preview >*{
	padding: 0px 8px;
	color: rgb(51, 51, 51);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address_book_information .contact_preview .name{
	font-size: 28px;
	font-weight: 400;
}
.address_book_information .contact_preview .details{
	padding: 5px 0px 5px 16px;
	font-size: 14px;
	font-weight: 600;
}
.contact_preview.active, .contact_preview:hover{
	background-color: rgb(206, 231, 242);
}
.container .contact_information_preview{
    width:66.66%;
	font-family: Arial, Helvetica, sans-serif;
	margin:20px 100px 15px 45px;
}
.contact_details .contact_name_details{
	font-size:28px;
	margin-bottom:10px;
}
.contact_details .contact_numbers{
	margin-top:20px;
	margin-bottom:20px;
}
.contact_details .website_details{
	margin-bottom: 10px;
}
.contact_information_preview{
	display: flex;
}
.contact_information_preview .options{
	display: flex;
	margin-left:100px;
}

.options #edit img{
	width:18px;
	height: 18px;
	margin-right: 3px;
	transform: rotate(-13deg);
}
.options #delete img{
	width:15px;
	height: 25px;
	margin-top:-7px;
	margin-left: 40px;
	margin-right: 5px;
}
.options .edit{
	margin-top:1px;
	font-size: 14px;
	font-weight: 500;
}
.options .delete{
	font-size: 14px;
	font-weight:500
}
.address_book_form_field{
	display: none;
}
form{
    margin:20px 0px 30px 25px;
	font-size:12px;
}
form label{
    font-family: system-ui, sans-serif;
    font-weight:700;
}
.input_textbox{
    display: block;
    width:80%;
    margin-bottom:20px;
    padding: 8px 4px;
    border:1px solid black;
}
.input_data:nth-child(3){
    display: flex;
}
.input_data:nth-child(3) .mobile_input_data{
    width:42%;
}
.input_data:nth-child(3) .landline_input_data{
    width:42%;
}
.input_data:nth-child(3) .mobile_input_data .input_textbox{
    width:91%;
}
.input_data:nth-child(3) .landline_input_data .input_textbox{
    width:91%;
}
textarea{
    resize:none;
}
#update_btn{
    margin-left:47%;
    padding:5px 35px 5px 30px;
    color:whitesmoke;
    background-color:rgba(71,141,0,255);
    border:1px solid rgba(71,141,0,255);
}
#cancel_btn{
	margin-left: 15px;
	padding:5px 35px 5px 30px;
    color:black;
    border:1px solid rgba(255,255,255,255);
}