*{
	margin:0;
	padding:0;
}
.pageTitle{
	background-color:#3298cc;
	height:80px;
	margin:0px;
	padding-left:30px;
	padding-top:15px;
	color:white;
	font-family:Century Gothic;
	font-size:300%;
}
.margin{
	height:fit-content;
	background-color:#333232;
}
.logo{
	position:absolute;
	right:35px;
	margin-top:8px;
}
.logo img{
	width:100%;
	height:100%;
}
.navigation li{
	display:inline-block;
}
.navigationBar{
	margin-left:20px;
}
.navigationBar li a{
	padding:10px 15px;
	font-family:Century Gothic;
	font-weight:bolder;
	color:white;
	text-decoration:none;
}
.navigation ul.navigationBar{
	font-size:16px;
	padding:10px 0px;
}
.navigation ul li.active a{
	margin:0px;
	color:white;
	border-left:4px solid white;
	background-color: rgba(255,153,0,255);
}
.navigation ul li a:hover{
	margin:0px;
	color:white;
	background-color: rgba(255,153,0,255);
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px 10px 10px 25px;
}
.container{
    display: flex;
}
.container .contact_information{
    width:33.33%;
    background-color:red ;
	margin:20px 15px 15px 25px;
}
.container .contact_information_preview{
    width:66.66%;
	font-family: Arial, Helvetica, sans-serif;
	margin:20px 100px 15px 45px;
}
.contact_details .contact_name_details{
	font-size:28px;
	margin-bottom:10px;
}
.contact_details .contact_numbers{
	margin-top:20px;
	margin-bottom:20px;
}
.contact_details .website_details{
	margin-bottom: 10px;
}
.contact_information_preview{
	display: flex;
}
.contact_information_preview .options{
	display: flex;
	margin-left:100px;
}
.contact_information_preview .options #edit img{
	width:20px;
	height:20px;
	padding-right:2px;
}
.contact_information_preview .options #delete img{
	width:25px;
	height:30px;
	padding-right:2px;
	margin-left:20px;
}
.contact_information_preview .options label{
	margin-top:-10px;
}