*{
	margin:0;
	padding:0;
}
.pageTitle{
	background-color:#3298cc;
	height:80px;
	margin:0px;
	padding-left:30px;
	padding-top:15px;
	color:white;
	font-family:Century Gothic;
	font-size:300%;
}
.navMargin{
	height:fit-content;
	background-color:#333232;	
}
.logo{
	position:absolute;
	right:35px;
	margin-top:8px;
}
.logo img{
	width:100%;
	height:100%;
}
.navigation li{
	display:inline-block;
	 
}
.navigationBar{
	margin-left:20px;
}
.navigationBar li a{
	border-left:1px solid #333232;
	padding:10px 15px;
	font-family:Century Gothic;
	font-weight:bolder;
	color:white;
	text-decoration:none;
}
.navigation ul.navigationBar{
	font-size:16px;
	padding:10px 0px;
}
.navigation ul li.active a{
	color:white;
	border-left:4px solid white;
	background-color: rgba(255,153,0,255);
}
.navigation ul li a:hover{
	margin:0px;
	color:white;
	background-color: rgba(255,153,0,255);
}
.container{
	box-shadow:1px 5px 20px 5px rgba(151,150,150,255);
	width:41%;
	margin:auto;
	margin-top:40px;
	margin-bottom: 30px;
}
form{
	margin:10px 5px;
	font-size:14px;
}
form input{
	padding:2px 5px;
}
.inputData{
	padding-top:35px;
	padding-bottom:0px;
	margin:0px 0px 10px 10px;
}
.inputData input{
	margin-top:-5px;
	margin-left:12em;
}
.inputData label{
	position:absolute;
	margin-top:-1px;
	margin-left:10px;
}
.inputData select{
	margin-top:-5px;
	margin-left:13.4em;
	font-size: 12px;
}
.inputData h3{
	margin-left:10px;
	padding-bottom:5px;
}
.inputData p:nth-child(2){
	padding-top:2px;
	margin-left:10px;
	font-style: italic;
}
.inputData .input_textbox{
	border: 2px inset rgb(211,211,211);
}
.mandatoryField{
	color:red;
	padding-left:2px;
}
.actionBtns{
	margin-left:70px;
	margin-right:20px;
	margin-bottom:5px;
}
.inputData .OptionalInfo{
	padding-top:2px;
	padding-left:3px;
	margin-left:15px;
	margin-top:5px;
	resize: none;
	overflow-y: scroll;
	border:2px inset rgb(211,211,211);
}
.submitBtn{
	border:2px outset rgb(200,200,200);
	margin-left:100px;
	margin-bottom:25px;
	padding:1.5px;
}
.resetBtn{
	border:2px outset rgb(200,200,200);
	margin-left: 35px;
	margin-bottom:10px;
	padding:1.5px;
}
#common_error,.val_error{
	color:red;
	padding-left:2px;
	display:none;
}
.container #common_error h3{
	padding-left:15px;
	padding-top:15px;
	color:red;
}
.inputData input#female{
	margin-left:70px;
	padding: 20px;;
}
.disabled{
	background-color:rgb(224,224,224);
	border: 1px solid rgb(153, 153, 153);
}