body{
	margin:0px;
	padding:0px;
}
h1{
	background-color:#3298cc;
	height:90px;
	margin:0px;
	padding-left:30px;
	color:white;
	font-family:Century Gothic;
	font-size:48px;
}
nav{
    height:30px;
	background-color:#333232;
	font-family:Century Gothic;
	padding:10px 10px 0px 10px;
}
nav a{
	margin-left:25px;
}
#content{
	margin:40px 50px;
	padding:0px;
}
.border{
	border: 1px groove black;
	width:900px;
	height:220px;
}
h2{
padding-left:20px;
font-family:Century Gothic;
}
.points li{
	font-family:Century Gothic,sans-serif;
	font-size:14px;
    list-style: outside '-   ';
	font-weight:bold;
}
p{
	padding:0px 0px 0px 50px;
	font-family:Century Gothic,sans-serif;
	font-size:12.5px;
	width:1000px;
}
.Head{
	padding-left:50px;
	font-size:16px;
	font-family:Century Gothic,sans-serif;
}
a:link{
color:white;
text-decoration:none;
font-weight:bolder;
}



