*{
	margin:0;
	padding:0;
}
Header {
  background-image: url("bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.container-1{
	width:1150px;
}
#primaryNavigation ul{
	float:right;
	padding:0px 5px 5px 5px;
	margin-right:0px;
	border:thin solid #3b5888;
	background-color:#3b5888;
	position:relative;
}
#primaryNavigation ul li{
	display:inline-block;
}
#primaryNavigation ul li a{
	font-size:11px;
	text-decoration:none;
	color:white;
	font-family:Verdana,sans-serif;
}
#primaryNavigation ul li.separator:before{
	content:'|';
	font-size:10px;
	padding:0px 5px 0px 0px;
	color:white;
}
#logo{
	float:left;
    margin-top:-40px;
    margin-left:10px;
	width:210px;
	height:140px;
}
.container-2{
	padding-top:50px;
	margin-left:15.5pc;
	margin-right:13pc;
	height:500px;
	width:904px; 
}
#secondaryNavigation{
    font-size:100%;
    padding: 4px;
	height:35px;
	border: 0.5px solid #2d3f57;
}
.container2Border{
	background-color:#152a45;
	padding:3px;
	border: 0.5px solid #152a45;
}
#secondaryNavigation ul{
	float:right;
}
#secondaryNavigation ul li{
	display:inline-block;
	padding-top:10px;
}
#secondaryNavigation ul li a{
	font-size:14.5px;
	text-decoration:none;
	color:#769cb6;
	font-family:Verdana,sans-serif;
	padding:0px 10px 0px 14px;;
}
#secondaryNavigation ul li.separator:before{
	content:'|';
	font-size:14px;
	padding:0px 5px 0px 5px;
	color:white;
}
.spacing{
	padding-top:80px;
	background-color:#596789;
	opacity:0.2;
}
.brandMotoBorder{
	border:thin solid black;
	width:902px;
	height:440px;
	background-color:#10203a;
	opacity:0.8;
}
 .footer {
	position: absolute;
	left:6.6cm;
	top: 630px;
	width:897px;
	display: flex;
	background-color: rgba(22, 44, 65,0.7);
	padding:4px;
	justify-content: center;
	color: rgb(160, 176, 210);
}
.footer a{
	padding: 0px 5px;
	color: white;
}
.footer a.separator {
	padding: 0;
}