*{
	margin:0;
	padding:0;
}
body {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.container{
	width:66.66%;
	position:relative;
	margin-right:auto;
	margin-left:auto;
	height:fit-content;
	font-family:Arial;
}
.primaryNavigation ul{
	width:fit-content;
	height:fit-content;
	padding:0px 4px 2px 4px;
	margin-right:-25px;
	margin-left:auto;
	margin-top:0;
	border:thin solid #3b5888;
	background-color:#3b5888;
}
.primaryNavigation ul li{
	display:inline-block;
}
.primaryNavigation ul li a{
	font-size:10px;
	text-decoration:none;
	color:white;
	
}
.primaryNavigation ul li.separator:before{
	content:'|';
	font-size:10px;
	padding:0px 5px 0px 0px;
	color:rgb(165, 203, 252);
}
.pageLayout{
	position:relative;
}
.logo {
	position: absolute;
	top: -37px;
	left: 20px;
}
.logo img{
	width:200px;
	height:135px;
}
.outsideMargin {
	margin-top: 20px;
	background-color: rgba(15, 31, 54, 0.9);
	width: 101.7%;
	top: 38px;
	padding: 4px;
}
.insideMargin {
	border: 1px solid rgb(63, 80, 100);
	height: fit-content;
	width: 98.7%;
	padding: 10px 5px;
	display: flex;
	justify-content: right;
}
.secondaryNavigation {
	justify-content: right;
	font-family: Calibri;
}
.secondaryNavigation ul.navigationBar {
	display: flex;
	font-size: 16px;
	margin: 1px;
	list-style-type: none;
}
.secondaryNavigation li {
	display: inline-block;
}
.secondaryNavigation ul li a {
	text-decoration:none;
	padding:5px 20px;
	color: rgb(192, 217, 239);
}
.secondaryNavigation li.separator {
	border-left: 1px solid white;
	height: 12px;
	margin: 5px 0px 0px 0px;
}
.secondaryNavigation ul li.active a {
	border-radius: 4px;
	background-color: rgb(72, 104, 129);
	border-width:100px;
	font-weight: bold;
}
.secondaryNavigation ul li a:hover{
	border-width:100px;
	border-radius: 4px;
	color:white;
	background-color: rgb(72, 104, 129);
}
.space{
	height:50px;
}
.services{
	display:flex;
	align-content:center;
	justify-content:center;
	padding:10px;
	outline: 1px solid rgb(63, 80, 100);
	outline-offset: -2px;
	background-color: rgba(15, 31, 54, 0.9);
	width:100.4%;
}
.services .img{
	width:30%;
	float:left;
	margin:0px 20px;
}
.services img{
		padding-top:15px;
		padding-bottom:5px;
		width:268px;
		height:120px;
}
.services .content{
	width:70%;
	float:right;
	color:white;
	font-family: Calibri;
}
.services .spaces{
	height:18px;
}
.servicesOffered{
	font-family: Calibri;
	padding: 10px;
	border-top: 1px solid rgb(90, 106, 129) ;
	border-bottom: 1px solid rgb(90, 106, 129);
}
.services a{
	color: rgba(184,210,255,255);
}
.services .subTitle {
	padding-top:5px;
	color: rgb(204, 221, 236);
	font-size: 24px;
	
	letter-spacing: 2px;
}
.services p{
	padding-top:15px;
	padding-right:15px;
	font-size:18.3px;
}
.services ul{
	padding-top:10px;
	padding-left:30px;
	padding-bottom:20px;
}
.services ul li{
	font-size:18px;
	padding-top:5px;
}
.help {
	padding: 20px 30px;
	border-top: 1px solid rgb(90, 106, 129);
	border-bottom: 1px solid rgb(90, 106, 129);
	background-color: rgb(16, 34, 58);
	margin-bottom:20px;
}
.help button {
	color: rgb(191, 231, 255);
	margin-top: 10px;
	border-radius: 4px;
	background-image: linear-gradient(rgb(44, 96, 117),rgb(1, 37, 59));
	border:thin solid rgb(58, 93, 115);
	padding:2px 4px 4px 4px;
}
button .arrow {
	color: white;
	font-weight: 1000;
	padding-left: 4px;
	padding-right:4px;
}
.footer {
	margin-top: 20px;
	width: 101.5%;
	display: flex;
	background-color: rgba(22, 44, 65,0.7);
	padding: 5px;
	justify-content: center;
	color: white;
	font-family: Calibri;
	font-size:14px;
}
.footer a{
	font-size:14px;
	padding: 0px 5px;
	color: white;
}
.footer .separator{
	text-decoration:none;
}
.footer .separator:before {
	content:'|';
	font-size:12px;
	padding:0px;
	color:white;
}
